<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>DEMO - Einstein mmWave Radar</title>
  <!-- 引入 echarts.js -->
  <script src="./lib/echarts.js"></script>
  <script src="./lib/echarts-gl.js"></script>
  <script src="/socket.io/socket.io.js"></script>

</head>

<body>
  <form action="/control/connect" method="post">
    Please select COM port: <select id="port" name="port"> </select>
    <input type="submit" name="connect" value="connect" />
  </form>
  CONNECTION: <input id="status" type="text" onclick="" readonly /><br>

  <table width="100%">
    <tr valign="middle">
      <td width="60%" align="center">
        <div id="scatter" style="width: 800px;height:800px;display:inline-block;vertical-align: top;">
          <span></span>
        </div>
      </td>
      <td width="40%" align="center">
        <div id="camera" style="width: 480px;height:360px;display:inline-block;vertical-align: bottom;">
          <!--
        Ideally these elements aren't created until it's confirmed that the 
        client supports video/camera, but for the sake of illustrating the 
        elements involved, they are created with markup (not JavaScript)
      -->
          <video id="video" width="480" height="360" autoplay></video>
          <canvas id="canvas" width="480" height="360"></canvas>
        </div>
      </td>
    </tr>
  </table>

  <script type="text/javascript">
    let myChart = echarts.init(document.getElementById('scatter'))
    myChart.setOption({
      grid3D: {},
      xAxis3D: { min: -10, max: 10 },
      yAxis3D: { min: 0, max: 20 },
      zAxis3D: { min: 0, max: 20 },
      series: [{
        type: 'scatter3D',
        data: null
      }]
    })

    const socket = io()
    socket
      .on('status', (status, port) => {
        document.getElementById('status').value = status
      })
      .on('ports', ports => {
        let portsSelect = document.getElementById("port");
        portsSelect.innerText = null
        ports.forEach(port => {
          let option = document.createElement("option");
          option.text = port.comName;
          portsSelect.add(option);
        });
      })
      .on('data', data => {
        // 使用指定的配置项和数据显示图表。
        myChart.setOption({
          grid3D: {},
          xAxis3D: { min: -10, max: 10 },
          yAxis3D: { min: 0, max: 50 },
          zAxis3D: { min: 0, max: 10 },
          series: [{
            type: 'scatter3D',
            data: data
          }]
        })
      })

    var video = document.getElementById('video');

    // Get access to the camera!
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
      // Not adding `{ audio: true }` since we only want video now
      navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
        //video.src = window.URL.createObjectURL(stream);
        video.srcObject = stream;
        video.play();
      });
    }

  </script>
</body>

</html>